@model DersKayit.Models.Ogrenci

<h2>Öğrenci Kayıt Durumu</h2>

<div class="container">
    <h5>Öğrenci Bilgileri</h5>
    <ul>
        <li> @Model.OgrenciAd</li>
        <li> @Model.OgrenciSoyad</li>
        <li> @Model.OgrenciNo</li>
        <li> Bu öğrenci için toplam @Model.Dersler.Count adet ders eklenmiştir</li>
    </ul>
    <hr/> <h5>Öğrenciye Ait Ekli Dersler</h5>
    <ol>
                @foreach (var item in Model.Dersler)
                {
                  <li>@item.DersAdi</li>
        }
    </ol>

</div>

