@model DersKayit.Models.Ders
@{
    ViewBag.Title = "Ders Detayı";
}

<h2>Derse Ait Bilgiler</h2>
<hr/>
<div class="container col-md-6">
<p class="lead"><strong>Ders Adı:</strong> @Model.DersAdi</p>
<p class="list-group-item"><strong>Ders Kodu:</strong> @Model.DersKodu</p>
<p class="list-group-item"><strong>Toplam Kontenjan:</strong> @Model.Kontenjan</p>
<p class="list-group-item"><strong>Kayıtlı Öğrenci Sayısı:</strong> @Model.KayitliOgrenciler.Count</p>
<p class="list-group-item"><strong>Bölümü:</strong> @Model.Bolum.BolumAdi</p>
<p class="list-group-item"><strong>Dersin Hocası:</strong> @Model.Hoca.HocaTamAd</p>
    <hr/>
<p>@Html.ActionLink("Ders Ekleme Ekranına Geri Dön","Index","Ders")</p>
</div>
<hr/>
<div class="container cold-md-12">

</div>